<div class="loading">
  <mat-spinner  diameter="20" color="primary" *ngIf="loading" ></mat-spinner>
</div>
<div *ngIf="!loading">
<div class="preview">
  <mat-card class="preview-card">
    <img [src]="startup.logo" alt="" >
    <mat-card-content>
      <h1>{{startup.name}}</h1>
      <h2 *ngFor="let item of startup.sectors">{{item.name}}</h2>
      <p>{{startup.websiteUrl}}</p>
      <div class="col">
        <p>{{startup.city}}</p>
      <h4>{{startup.emailAddress}}</h4>
      </div>


    </mat-card-content>
  </mat-card>

</div>
</div>

