<div class="main">
  <div class="login-card">

<form [formGroup]="formGroup">

      <h3>SignUp</h3>

      <mat-form-field appearance="outline" class="field-width" >
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" type="text" formControlName="name">
        <mat-error *ngIf="name.invalid">You mast enter a value </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field-width" >
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email">
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="field-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password" >
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" (click)="onSignupCliked()">Signup</button>
    </form>
  </div>
</div>
