mat-sidenav-container{
  /* height: calc(100vh - 64px); */
  height: 100vh;
}
mat-sidenav{
  width: 300px;
  background-color:white;
  color: #fff;
  padding: 1rem;
}
span{
  color: black;
    font-size: 24px;
    font-family: ui-rounded;
    display: flex;
    justify-content: center;
    padding: 13px;
    background-color: cadetblue;
}
mat-list{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 50%;
}
mat-list-item > mat-icon {
  color: rgb(238, 236, 248);
  margin-inline-end: 8px;
}

a{
  text-decoration: none;
}
.item-text{
 font-size: larger;
 color: black;
 cursor: pointer;
}

.item-text:hover{
  border-radius:3px ;
  padding: 8px;
  margin: 3px;

  background-color: whitesmoke;
}
.loading{
  display: flex;
  justify-content: end;
}
main{
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
}

button{
  color: #fff;
}

.logout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

/* @media only screen and (max-width: 700px) {
  #side_bar{
    width: 30% ;
  }
} */


