.row{
  display: flex;
}
mat-form-field {
width: 90%;
}
.col{
  flex: 1;
}
.col-startup-btn{
text-align: end;
}
.btn-action{
  margin-inline-start: 10px;
  border-radius: 8px;
  background-color: cadetblue;
}
.btn-action:hover{
  color: #fff;
  background-color: blue;
}
table{
  width: 100%;

}
.hover{
  cursor: pointer;
}

 /* .row{
  display: flex;

}

.col{
  flex: 1;
}

.align-end{
  text-align: end;
}

.btn-action{
  margin-inline-start: 10px;
}

table{
  width: 100%;
}
.hover{
  cursor: pointer;
} */


