.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-col{
  width: 70%;
}
.action-col{
  margin-inline-start: 10px;
}
table{
  width: 100%;

}
hover{
  cursor: pointer;
}
.btn-action{
  margin-inline-start: 10px;
  border-radius: 8px;
  background-color: cadetblue;
}
.btn-action:hover{
  color: #fff;
  background-color: blue;
}
