
<div class="preview">
  <mat-card class="preview-card">
    <img class="logo" [src]="startup.logo" alt=" " />
    <mat-card-content>
      <h1>Name:&nbsp;{{startup.name}}</h1>
      <h3>Email Address:&nbsp;{{startup.emailAddress}}</h3>
      <h2>websiteUrl:&nbsp;{{ startup.websiteUrl }}</h2>
      <h2 *ngFor="let item of startup.sectors" >Sector:&nbsp;{{item.name}}</h2>
      <div class="col">
      <h3>Year Of Establishment:&nbsp;{{ startup.yearOfEstablishment }}</h3>
      <h3>Number Of Employees:&nbsp;{{ startup.numberOfEmployees }}</h3>
      <h4>City:&nbsp;{{ startup.city }}</h4>
      </div>
    </mat-card-content>
  </mat-card>

</div>


