
<div class="preview">
  <mat-card class="preview-card">
    <img class="logo" [src]="startup.logo" alt=" " />
    <mat-card-content>
      <h3>Name:</h3>
      <p>{{startup.name}}</p>
      <h3>Email Address:</h3>
      <p>{{startup.emailAddress}}</p>
      <h3>City:</h3>
      <p>{{ startup.city }}</p>
      <h3>Sector:</h3>
      <h2 *ngFor="let item of startup.sectors">{{item.name}}</h2>
      <div class="col">
      <h3>Year Of Establishment:</h3>
      <p>{{ startup.yearOfEstablishment }}</p>
      <h3>Number Of Employees:</h3>
      <p>{{ startup.numberOfEmployees }} </p>
      <h3>websiteUrl:</h3>
      <p>{{ startup.websiteUrl }}</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>


