
mat-toolbar{
 justify-content: space-between;
   background-color: white;
}
span{
  color: #fff;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style-type: none;

}
a{
  text-decoration: none;
  color: black;
  font-family: cursive;
}
a:hover{
  color: red;
}
