
mat-toolbar{
   justify-content: space-between;
   background-color: white;
}
.logo{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
span{
  color: black;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style-type: none;

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(47, 34, 233);
  cursor: pointer;
}
