<div class="header">
  <div class="mdee">
    <h1>Startups</h1>
    <h2>
      Startups are young companies founded to develop a unique product or service,
      bring it to market and make it irresistible and irreplaceable for customers.
    </h2>
  </div>
</div>

<div class="about">
  <div class="about-ministry">
    <h1>   What is Startups?</h1>
    <h2>
      A startup is a business venture typically in its early stages of development.
      It is often funded by venture capital and operated by a small group of entrepreneurs. </h2>
</div>
</div>
