<div class="header">
  <div class="mdee">
    <h1>Startups</h1>
    <pre>
      Startups are young companies founded to develop a unique product or service,
      bring it to market and make it irresistible and irreplaceable for customers.
     </pre>
  </div>
</div>

<div class="about">
  <div class="about-ministry">
    <h1>   What is Startups?</h1>
    <h2>
      Startups are business ventures which are usually associated with independence,
      innovation and huge risk. Therefore, it is key for all startup owners to find such business
      models that will allow them to achieve success on the largest possible scale.</h2>
</div>
</div>
