.header{
  background: url(https://firebasestorage.googleapis.com/v0/b/htu-final-5b6ed.appspot.com/o/homeimg%2Fshutterstock_795017047-e1614943597309.jpg?alt=media&token=dc41b8fb-6ddd-48d2-84ac-d97d0a76b234);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
}
.mdee{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 100px;

}
.mdee h1{
  font-size: 50px;
}
.mdee h2{
  font-size: 20px;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-ministry{
    text-align: center;
    padding: 30px;
    margin: 30px;
}
.about-ministry h1{
  font-size: 44px;
}

.about-ministry p{
  font-size: 23px;
    padding: 15px;
}
