
<app-main></app-main>
<h2>Startups in jordan </h2>
<div class="startups">
  <div class="text">
  </div>
<div class="card" *ngFor="let item of arrayStartup" >
    <div  class="section" >
        <div class="face front " >
          <img [src]="item.logo" alt="" >
          <h3> {{ item.name }} </h3>
        </div>
          <div class="face back">
            <h3> {{ item.name }} </h3>
            <button mat-button (click)="onPreviewClicked(item)"> Read More </button>
          </div>
      </div>
     </div>
    </div>

