

<div class="card">

  <mat-card class="example-card">
    <img mat-card-image src="https://res.cloudinary.com/sblink/c_fill,h_110/qnjiyoos0zm4fu4mwfj5" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
         By offering short, engaging video lessons,
         visualized learning journeys, continuous assessment and performance analytics,
        we are changing the way students learn outside the classroom.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="onPreviewClicked()" >READ MORE</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <img mat-card-image src="https://res.cloudinary.com/sblink/c_fill,h_110/jexmlnjsssnq9lvztdoj" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary"(click)="onPreviewClicked()" >READ MORE</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <img mat-card-image src="https://res.cloudinary.com/sblink/c_fill,h_110/ca8fd752492cbf3110d89755636675a9" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        We are the leading mobile game publishers in the MENA region.
        We partner with renowned developers from all over the world to bring the best-localized games
        and entertainment to the Arabic-speaking market
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="onPreviewClicked()" >READ MORE</button>
    </mat-card-actions>
  </mat-card>

</div>

