
.footer{

  display: flex;
  justify-content:center;
  padding: 2rem;
  background-color: #14223b;

}
.footer-title{
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
.footer-title span{
  color: rgb(233, 233, 241);
}
.social-icon{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 10px;
  flex-wrap: wrap;
}
